.main {
    min-width: 800px;
    max-width: 1320px;

    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;

    /*background: #6600F9;*/
    background: #F9F9F9;
    box-shadow: 10px 10px 70px rgba(93, 109, 151, 0.5);
    box-sizing: border-box;
}

.body {
    height: 600px;
}

.left-panel {
    float: left;
    width: 200px;
    padding: 0;
    box-shadow: 5px 5px 8px rgb(0 0 0 / 15%);
}

.right-panel {
    display: flex;
    width: auto;
    /*padding: 10px 15px;*/
    /* background-color: #B0B0B0; */
    background: #F9F9F9;
}