.header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 40px;
    padding: 10px 25px;
    box-shadow: 5px 5px 8px rgb(0 0 0 / 15%);
}
.logo {
    position: relative;
    /*background-color: cadetblue;*/
}

.logo h3 {
    margin-top: 5px;
    width: 200px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #5D6E97;
}

.search {
    width: 100%;
}

.login {

}


